@model WatchParty.DTOs.MovieDTO

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/websiteStyle.css" asp-append-version="true" />

<div class="container">
    <h2>Delete Movie</h2>
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Image</dt>
                <dd class="col-sm-8">
                    <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-thumbnail" width="200" />
                </dd>
                <dt class="col-sm-4">Name</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-4">Description</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>